@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 25px;
    font-style: bold;
}

section {
    height: 100vh;
    background: #284b63;
}

input {
    background: #284b63;
}

textarea {
    background:#284b63;
}